body {
		margin: 0px;
		background-color:#931a1d;
}

.topnav {
    background-color: #fafae6;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #931a1d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:#fafae6;
    color: red;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.containers{
	background-color:#fafae6;
	color: #931a1d;
	height: 100%;

}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
